body {margin:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00e6b8;
    position: fixed;
    top: 0;
    width: 90%;
    border: 2pt solid #e6ffff;    
    border-radius: 07.5px;
    border-spacing: 10px 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #00cccc;    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: verdana;
}

li a:hover:not(.active) {
    background-color: #e6ffff;    
    font-family: verdana;
}

.active {
    background-color: #e6ffff;    
    font-family: verdana;
    color: #00cccc;    }
body{
    background-color: #00e6b8;
    margin-left: 30px;
    margin-right: 30px;
}
p{
    font-family: verdana;
    color: #e6ffff;}
h3{
    font-family: verdana;
    font-size: 30px;
    color: #e6ffff;}
img{
    width: 400px;
    height: 400px;
    border: 7.5pt groove #e6ffff;}
div{
    padding:20px;
    margin-top:30px;
    background-color:#00cccc;    
    height:1500px;
}
.textwrap{
    float: left;
    margin: 10px;
    border: 8pt groove aqua;
}
.textrap{
    float: right;
    margin: 10px;
    border: 8pt groove aqua;
}
.socials{
    width: 30px;
    height: 30px;
}
h1{
    font-family: verdana;
    color: #e6ffff;}
h2{
    font-family: verdana;
    color:  #e6ffff;}
#uru{
    width: 300px;
    height: 300px;
}
#utu{
    width: 60px;
    height: 30px;
}
li a:hover:not(.log) {
   background-color: #e6ffff;    
   font-family: verdana;
}
.log {
    background-color: #e6ffff;    
    font-family: verdana;
    color: #00cccc;    
    border: 1pt solid #00e6b8;
    float: right;
    border-spacing: 
}
table{
    border: 2pt groove #e6ffff;    
    color: #e6ffff;    
    font-family: verdana;
}
td a{
    text-decoration: none;
    color: #e6ffff;}
.greats{
    width: 1000px;
    height: 475px;
    border: 2pt solid #e6ffff;
    border-radius: 10px;
}